<input type="checkbox" name="" id="sideMenu_Toggle">

<!-- ===================side menu============= -->
<%- include('common/sideMenu'); -%>

<!-- ===================main content============= -->
<div class="main_content">

    <%- include('common/header'); -%>
    <%- include('home'); -%>

</div>

<label for="sideMenu_Toggle" class="body_label"></label>