 <!-- ============================= -->
      <!-- theme box -->
      <input type="checkbox" id="theme_settings"/>
      <div class="theme_box">
          <!-- =========settings======== -->
          
          <label for="theme_settings" class="setting_icon">
              <i class="fas fa-cog"></i>
          </label>
    
          <div class="theme_container">
              <!-- ======page theme======= -->
              <div class="inner_theme">
                  <h6>Page Theme</h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input noEvent" type="radio" id="darkTheme">
                    <label class="form-check-label" for="aytTheme_dark">Dark</label>
                  </div>
    
                  <div class="form-check form-check-inline">
                      <label class="form-check-label" for="aytTheme_light">Light</label>
                      <input class="form-check-input noEvent" type="radio"  id="lightTheme" >
                  </div>
    
                 
    
              </div>
    
              <br>
             
              <div class="inner_theme">
                  <h6>Text Theme</h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input noEvent" type="radio" id="text_1">
                    <label class="form-check-label" for="textTheme_1">warning</label>
                  </div>
    
                  <div class="form-check form-check-inline">
                      <label class="form-check-label" for="textTheme_2">danger</label>
                      <input class="form-check-input noEvent" type="radio"  id="text_2" >
                  </div>
    
              </div>
              
          </div>
      </div>